html {
  overflow-y: scroll;
}



@mixin form-mixin {
  input, select {
    display: block;
    &[type="checkbox"] {
      display: inline;
      width: inherit;
    }
    width: 400px;
  }
  textarea {
    display: block;
    width: 60%;
  }
}


.add_post_form, .add_comment_form {
  @include form-mixin;
}


.full_post {
  .comments {
    .comment {
      border: 2px solid #e0ebea;
      margin: 5px 0 5px 0;
      padding: 5px;

      &.added {
        border: 2px solid #008800;
      }
    }
  }
}


.post {
  border: 2px solid #e0ebea;
  margin: 5px 0 5px 0;
  padding: 5px 0 20px 5px;

  .post_created {
    color: #999988;
    font-size: 0.9em;
    margin-left: 30px;
  }

  .post_body {
    margin: 10px 0 10px 0;
  }

  .post_author, .post_comment_count, .post_tags, .post_author {
    font-size: 0.9em;
    color: #999777;
  }

  .post_comment_count {
    float: right;
  }

  &.added {
    border: 2px solid #008800;
  }

}

.user_block {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 300px;
  z-index: 10;
  padding: 20px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 3px 4px -3px rgba(0,0,0,0.3);
  background-color: white;
  text-align: center;

  .social_login_block {

    margin-bottom: 10px;

  .google_login_button {
    background: url(/images/google.jpg) no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .vk_login_button {
    background: url(/images/vk.jpg) no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .facebook_login_button {
    background: url(/images/facebook.jpg) no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  }

  .login_form, .registration_form {
    input {
      display: block;
      width: 100%;
    }
  }
  .logged_user {
    display: inline;
    margin-right: 10px;
  }

}




.post_list {
  .post_search {
    margin-bottom: 20px;
    input {
    width: 50%;
      border-color: #ffcb4c;
      height: 40px;
      font-size: 1.15em;
      padding-left: 10px;
    }
  }
}





.errors {
  .error {
    color: firebrick;
    font-size: 0.8em;
  }
}

.added_message {
  font-size: 1.2em;
  color: #008800;
  text-align: center;
}

.inline {
  display: inline;
  margin-right: 10px;
}

.add_post_form_block {
  border: 2px solid #e0ebea;
  margin: 5px 0 20px 0;
  padding: 10px;

  .add_post_body {
    height: 30px;
    &.expanded {
      height: 200px;
    }
  }

  .tags_add {
    li {
      list-style-type: none;
    }
  }

}


.add_comment_form_block {
  border: 2px solid #e0ebea;
  margin: 5px 0 20px 0;
  padding: 10px;
}


.rate_block {

  float: right;

  .button_like {
    background: url(/images/button_like.png) no-repeat;
    width: 70px;
    height: 70px;
    border: 0;
    margin-right: 20px;
    text-align: left;
    padding-left: 20px;
    padding-top: 18px;

    &.active {
      background: url(/images/button_like.png) no-repeat;



    }

    &.inactive {
      background: url(/images/button_like_inactive.png) no-repeat;
    }

    &.rated {
      background: url(/images/button_like_rated.png) no-repeat;
    }



  }

  .button_dislike {
    background: url(/images/button_dislike.png) no-repeat;
    width: 70px;
    height: 70px;
    border: 0;
    text-align: left;
    padding-bottom: 18px;
    padding-left: 20px;


    &.active {
      background: url(/images/button_dislike.png) no-repeat;


    }

    &.inactive {
      background: url(/images/button_dislike_inactive.png) no-repeat;
    }

    &.rated {
      background: url(/images/button_dislike_rated.png) no-repeat;
    }

  }

}


.top_block {
  text-align: center;
  .top_menu {
    display: inline-block;
  }
}



.disabled {
  pointer-events: none;
  opacity: 0.4;
}



.errors-appear {
  opacity: 0.01;

  &.errors-appear-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }

}


.posts-enter {
  opacity: 0.01;

  &.posts-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }

}


.comments-enter {
  opacity: 0.01;

  &.comments-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }

}



