.active {
  color: #0000cc;
}


.form-mixin {
  input, select {
    display: block;
    &[type="checkbox"] {
      display: inline;
      width: inherit;
    }
    width: 400px;
  }
  textarea {
    display: block;
    width: 60%;
  }
}


.add_post_form, .add_comment_form {
  .form-mixin;
}


.full_post {
  .comments {
    .comment {
      border: 1px solid #e0ebea;
      margin: 5px;
      padding: 5px;
    }
  }
}

.post_list {
  .posts {
    .post {
      border: 1px solid #e0ebea;
      margin: 5px;
      padding: 5px;
    }
  }
}


.user_block {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 300px;
  z-index: 10;
  padding: 20px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 3px 4px -3px rgba(0,0,0,0.3);
  background-color: white;

  .login_form, .registration_form {
  input {
    display: block;
    width: 100%;
  }
  }
.logged_user {
  display: inline;
  margin-right: 10px;
}

}

.errors {
  .error {
    color: firebrick;
    font-size: 0.8em;
  }
}

.added {
  font-size: 1.2em;
  color: #008800;
  text-align: center;
}

.inline {
  display: inline;
  margin-right: 10px;
}