.active {
  color: #0000cc;
}


.form-mixin {
  input, select {
    display: block;
    &[type="checkbox"] {
      display: inline;
      width: inherit;
    }
    width: 400px;
  }
  textarea {
    display: block;
    width: 60%;
  }
}


.add_post_form, .registration_form, .login_form, .add_comment_form {
  .form-mixin;
}


.full_post {
  .comments {
    .comment {
      border: 1px solid #e0ebea;
      margin: 5px;
      padding: 5px;
    }
  }
}

.post_list {
  .posts {
    .post {
      border: 1px solid #e0ebea;
      margin: 5px;
      padding: 5px;
    }
  }
}